%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label :avatar
    %br/
    = f.file_field :avatar

  .field
    = f.label :firstname
    %br/
    = f.text_field :firstname, autofocus: true

  .field
    = f.label :lastname
    %br/
    = f.text_field :lastname

  .field
    = f.label :city
    %br/
    = f.text_field :location

  .field
    = f.label :"Bio"
    %br/
    = f.text_area :bio
    
  .field
    = f.label :Email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"