.user-header
  = image_tag @user.avatar.avatar_show.url, class: 'image'

.user
  %h1 My name is #{@user.firstname} #{@user.lastname}
  = render 'users/stats'
  = render 'follow_form' if user_signed_in?
  %h2 I live in #{@user.location}
  %p= @user.bio
  = link_to 'Edit My Profile', edit_user_registration_path(current_user) 

#user-projects{data:{userid:params[:id]}}
  %h1 IDEAS
  - if @user.projects.blank?
    %p This user currently has no idea :-(
    %p= link_to 'You have one?', new_project_path