.background
  .container#form
    %h1 Tell us about your idea
    = simple_form_for @project do |f|
      - if @project.errors.any?
        #error_explanation 
          %ul
            - @project.errors.full_messages.each do |message|
              %li= message
      %p= f.text_field :title, placeholder: "What's it called?", id: "input"
      %p= f.file_field :image
      %p= f.text_field :video, placeholder: "Copy-paste a youtube link of your idea here!"
      %p= f.text_area :content, placeholder: "Tell us a bit more!", id: "input"
      %p= f.association :categories, as: :check_boxes, label:"Pick categories it falls under"
      %p= f.association :brands, as: :check_boxes, label: "Pick famous brands your project would ressemble"
      %p= f.submit 'Share your idea with the world!', id: "input"
