.project-page
  %h1= @project.title
  = image_tag(@project.image.project_show.url), class: 'image'
  .brilliancs
  %p= @project.content
  .rating
    .rating-box
      .star#one{data:{rating:1}}
      .star#two{data:{rating:2}}
      .star#three{data:{rating:3}}
      .star#four{data:{rating:4}}
      .star#five{data:{rating:5}}
    .notify

    .average-rating{data:{rating:@project.average_rating}}
      %p= "Average rating: #{@project.average_rating}"

  - if user_signed_in?
    %input#comment-box{ data: {project_id: @project.id }, placeholder: "Comment on this project!", title: "Press Enter to Submit" }
  - else 
    .message You must be signed in to comment
  %ul#comments{data:{projectid:params[:id]}}
  

  = link_to 'Know a similar Project?', projects_similars_path(@project)

  #similars
    %P Similar Projects
    - @project.similar_projects.each do |project|
      = link_to project.title, project_path(project), class: 'link'

.footer
  - if user_signed_in?
    - if @project.user_id = current_user.id
      = link_to 'Edit', edit_project_path(@project)
      = link_to 'Delete', project_path(@project), method: :delete

  = link_to 'Back', projects_path