!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Can
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:charset => "utf-8", :src => "/assets/jquery.easing.1.3.js"}
    %script{:charset => "utf-8", :src => "/assets/jquery.jSlots.js"}
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %header
      %input{:placeholder => "Search", :type => "text"}
        %ul
          %li
            %a{:href => ""} Ideas
          %li
            %a{:href => ""} Create An Idea
          %li
            %a{:href => ""} My Profile
        %h1 Sticky Header
    .content_container    
      = yield
