<!DOCTYPE html>
<html>
<head>
  <title>Can</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>
<header>
<input type="text" placeholder="Search">
<ul>
  <li><a href="">Ideas</a></li>
  <li><a href="">Create An Idea</a></li>
  <li><a href="">My Profile</a></li>
</ul>

<h1>Sticky Header</h1>
</header>

<%= yield %>

</body>
</html>
