!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Can
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:charset => "utf-8", :src => "/assets/jquery.easing.1.3.js"}
    %script{:charset => "utf-8", :src => "/assets/jquery.jSlots.js"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=News+Cycle"}/
    = csrf_meta_tags
  %body
    %header
      %input{placeholder: "Search", type: "text"}
      %h1 YOUCAN
      %p.notice= notice
      %p.alert= alert
      - if user_signed_in?
        %ul
          %li
            %a{href: "/projects"} Ideas
          %li
            %a{href: "/projects/new"} Create An Idea
          %li
            %a{href: "/users/:id"} My Profile
          %li
            %a{href: "destroy_user_session_path", method: :delete} Log Out
      - else
        %ul
          %li
            %a{href: "/projects"} Ideas
          %li
            %a{href: "/new_user_session_path"} Sign In
          %li
            %a{href: "#{new_user_registration_path}"} Register
    .content_container    
    = yield